@page
@model IcsModel
@{
  ViewData["Title"] = "ICS Calendar QR";
}

<div class="text-center">
  <h1 class="display-4">QR Generator</h1>
  <p>Generate a QR Code for an ICS calendar</p>
  <form>
    <div class="row">
      <div class="col col-6">
        <div class="form-row form-group">
          <label for="title">Event Title</label>
          <input class="form-control" id="title" name="title" type="text" />
        </div>
        <div class="form-row form-group">
          <label for="start-date">Start Date</label>
          <div class="input-group date">
            <input class="form-control" id="start-date" name="start-date" type="text" />
            <span class="glyphicon glyphicon-calendar"></span>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="form-row form-group">
          <label for="loc">Event Location</label>
          <input class="form-control" id="loc" name="loc" type="text" />
        </div>
        <div class="form-row form-group">
          <label for="end-date">End Date</label>
          <div class="input-group date">
            <input class="form-control" id="end-date" name="end-date" type="text" />
            <span class="glyphicon glyphicon-calendar"></span>
          </div>
        </div>
      </div>

      <div class="col col-12">
        <div class="form-row form-group">
          <label for="url">Page Url</label>
          <input class="form-control" id="url" name="url" type="text" />
        </div>
        <div class="form-row form-group">
          <label for="note">Notes</label>
          <input class="form-control" id="note" name="note" type="text" />
        </div>
      </div>
    </div>

    <div class="form-row form-group">
      <button class="btn btn-large btn-dark" id="genIcs" type="button">Generate</button>
    </div>
  </form>
</div>

<div class="text-center">
  <div class="placeholder-container">
    <img alt="" height="512" id="placeholder" src="/api/qr/gen-url?val=eyJ1cmwiOiJiYXJrbGV5dXMuY29tIn0=" width="512" />
  </div>
</div>